/* Cambios del fondo */
body{
    background-image: url(fondoportfolio.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.row{
    display: flex;
    flex-flow: row;
    justify-content:space-around;
}


 /* CSS Projects*/
 .img{
    width: 100px;
}

.cardproject{
    max-width: 300px;
    max-height: 500px;
}

 .col{
    display: grid;
    justify-content: center;
 }

 /*CSS Contact */
.titulocontacto, h2{
    display: grid;
    text-align: start;
    margin-top: 20px;
}

.logossocial, .logomensajes{
    display: flex;
    flex-flow: row;
    justify-content:space-around;
}

.github, .linkedin, .mail, .whatsapp{
    font-size: 100px;
}