.titulonombre{
    font-size: 7rem;
}
body{
    background-image: url(fondoportfolio.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.imgppal{
    border-radius: 100%;
}
/* .divmayor{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 3%;
} */
 
 .col{
    display: grid;
    justify-content: center;
 }

.titulocontacto, h2{
    display: grid;
    text-align: start;
    margin-top: 20px;
}

.logossocial, .logomensajes{
    display: flex;
    flex-flow: row;
    justify-content:space-around;
}

.github, .linkedin, .mail, .whatsapp{
    font-size: 100px;
}

.cardproject{
    max-width: 500px;
}
